html, body, #root {
  background-color: #d1d5d8 !important;
}

.header {
  background-color: #418fde;
}
.header-logo {
  height: 56px;
}
.header-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.footer {
  position: fixed;
  left:0;
  bottom:0;
  right:0;
}
.footer-content {
  padding: 1.5rem;
  text-align: center;
  background-color: #3F4756;
}

.login {
  display: flex;
  justify-content: center;
}
.login div {
  display: flex;
}
.login form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form {
  margin: 4em;
  padding: 4em;
  background-color: white;
  border-radius: 10px;
}
.form div {
  flex-direction: column;
  align-items: center;
}
.form label, input {
  margin-bottom: 20px;
}


.body {
  display: flex;
  flex-direction: column;
  margin-bottom: 72px;
}
.content {
  display: flex;
  justify-content: center;
}
.chart-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex: 0.85;
}
.chart {
  flex: 1;
  flex-basis: 48%;
  margin: 10px;
  min-width: 320px;
}
.controls {
  flex: 0.2;
  background: #A3ACBD;
  min-width: 320px;
}
.box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.switch {
  justify-content: center;
}
.spinner-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
#msgControl {
  color: red;
}

/* Spinner */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 25px;
  height: 25px;
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}
.spinner-container {
  display: inline-block;
  margin: 10px;
}
